{% if site.category_tag_cloud %}
<section>
<h1>Categories</h1>
<span class='categories_tag'> <a href='/blog/categories/javascript' style='font-size: 136.0%'>Javascript(3)</a>  <a href='/blog/categories/jquery' style='font-size: 112.0%'>Jquery(1)</a>  <a href='/blog/categories/programming' style='font-size: 124.0%'>Programming(2)</a>  <a href='/blog/categories/ruby' style='font-size: 160.0%'>Ruby(5)</a>  <a href='/blog/categories/編碼' style='font-size: 112.0%'>編碼(1)</a> </span>
</section>
{% endif %}
